<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProofOfConcept</title>
    <style>
        div {
            font-variant: small-caps;
            font-family: "Arial Black", Gadget, sans-serif;
        }
        .main {
            margin: 0 auto;
            max-width: 1200px;
            text-align: center;
        }
    </style>
    @RenderSection("Style", required: false)
    @RenderSection("Scripts", required: false)

</head>
<body>
    <div class="header"><a href="/">Home</a></div>
    <div class="main">
        @RenderBody()
    </div>
    <div class="footer"></div>

</body>
</html>
