@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Select from a list of commands below</h2>
<div class="main-table">
    <ol id="selectable">
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" onmousedown="redirect('CrmWebApi/Login')">CRM Web API</li>
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" data-url=""></li>
        <li class="ui-state-default" data-url=""></li>
    </ol>
</div>