@using ProofOfConcept.CrmWebApiIntegration.Model
@model ProofOfConcept.CrmWebApiIntegration.Model.LoginCredentials

@{
    ViewBag.Title = "Proof of Concept - CRM Web API - Auth Demo";
    Layout = "_Layout";
}

<h2>Test Logon</h2>

<div id="main-login">
    <form method="post" action="Authenticate">
        Username: @Html.TextBoxFor(x => x.Username)
        <br/>
        Password: @Html.PasswordFor(x => x.Password)
        <br/>
        <button type="submit">GO!</button>
    </form>
</div>

